@use '../helpers' as *;

.contacts-block {
   color: var(--color-white);
   opacity: .5;
   margin-bottom: 40px;
   
   &__link {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.06em;
      

      &:hover {
         opacity: .7;
      }
   }
}