*,
::before,
::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


html {
   height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
   font-family: var(--font-family);
   color: var(--grey-color);
   background-color: var(--color-bg);
   line-height: 1.7;
   min-height: 100%;
   font-size: 16px;

   &.is-lock {
      overflow: hidden
   }  
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   color: var(--color-darker);
   letter-spacing: 0.06em;
}


.h1 {
   font-size: clamp(1.875rem, 0.909rem + 5.83vw, 4.5rem);
   font-weight: 500;
   color: var(--color-white);
}

.h2 {
   font-size: clamp(1.75rem, 1.29rem + 2.5vw, 3rem);
   font-weight: 700;
   position: relative;
   padding-bottom: 10px;
   
   &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 45px;
      height: 2px;
      background: var(--color-darker);
      bottom: 0;
   }
}

.h3 {
   font-size: clamp(1.75rem, 1.29rem + 1.02vw, 3rem);
   font-weight: 300;

   strong {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: clamp(1.25rem, 0.882rem + 1.84vw, 2.25rem);
      color: var(--color-dark);
   }

   span {
   display: block;   
   }
   
   &--light {
      font-family: var(--second-family);
      // font-size: clamp(1.75rem, 0.29rem + 2.0vw, 3rem);
      color: var(--color-gray);
   }
}

.h4 {
   font-size: clamp(1.125rem, 0.987rem + 0.69vw, 1.5rem);
   font-weight: 300;
   letter-spacing: 0.11em;
   color: var(--color-gray-alt);

   &--second-family {
      font-family: var(--second-family);
   }
}

a,
button,
label,
input,
textarea,
select,
svg * {
   transition-duration: var(--transition-duration);
}

a {
   color: inherit;
   margin: 0;
   padding: 0;

  
   &:hover {
      color: var(--grey-color);
   }
   &[class] {
      text-decoration: none;
   }
}

:focus-visible {
   outline: 2px dashed var(--color-light);
   outline-offset: 4px;
   transition-duration: 0s !important;
}

a, 
button {
   border: none;
   background: transparent;
   &[aria-label] {
         position: relative;
         &::before {

            content: '';
      }
   }
   
}

img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

 button,
 label {
   cursor: pointer;
}

ul {
   list-style-type: none;
}

figure {
   margin: 0;
}