:root {
   --color-white: #FFFFFF;
   --color-accent: #4caf50;
   --color-darker: #252525;
   --color-dark: #333333;
   --color-gray: #504E4E;
   --color-gray-alt: #5B5858;
   --color-bg: #fbfbfb;


   --transition-duration: 0.2s; 


   --border: 2px solid var(--color-accent);


   --font-family: "Oswald", sans-serif;
   --second-family: "OpenSans", sans-serif;

   --container-width: 1190px;
   --container-padding-x: 30px;

}